body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-image: url(../images/kozhikodebeach.jpg);
    background-size: cover;
    background-position:absolute;
    background-repeat: no-repeat;
}
.signup{
    width: 320px;
    height: 450px;
    border-radius: 40px;
    color: white;
    background-color:black;
    opacity: 77%;
    top: 50%;
    left: 50%;
    position:absolute;
    transform: translate(-50%,-50%);
    padding-left: 28px;
    padding-right: 28px;
}
h1{
    text-align: center;
    color:rgb(223, 9, 109);
    /* padding-top: 50px; */
}
  /* .signup label{
      font-weight: bold;
      font-size: 16px;
  } */

  .signup input{
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
      padding-bottom: 7px;
  }

  .signup input[type="text"], input[type="password"],input[type="number"],input[type="email"]{
      border:none;
      border-bottom:1px solid white;
      background: transparent;
      outline: none;
      color: white;
      font-size: 14px;
      margin-top: auto;
  }
  .signup input[type="submit"]{
      transform: translate(95%);
      background-color: rgb(223, 9, 109);
      opacity: 100%;
      border: none;
      height: 40px;
      border-radius: 30px;
      width: 110px;
      font-size: 16px;
      font-weight: bold;
      padding: 10px;
  }
  .signup input[type="submit"]:hover{
    color:rgb(223, 9, 109);
    background-color: burlywood;
  }
  .signup a{
      text-decoration: none;
      color:rgb(223,9,109);
      font-size: 12px;
  }
  .signup a:hover{
    color:blueviolet;
  }
