body{
    margin: 80px;
    padding-top: 47px;
    padding-left: 90px;
    padding-right: 90px;
    font-family: cursive; 

}
.top{
    background-image: url("images/lightbg.jpg");
}

.top h1{
    text-align: center;
    font-weight: bold;
}

.top p{
    text-align: center;
    text-indent: 35px;
    font-size: 18px;
    font-family: cursive;
    
}
#tsr{
    float: right;
    border: 2px solid maroon;
}

.heading h3{
    font-size: 31px;
    margin-top: 100px;
    text-align: center;
    color:rgb(12, 48, 146);
    font-family: cursive;
    
}
 .card{
        float:left;
        margin-left: 20px;
        margin-right: 15px;
        margin-top: 10px;
}
 
.card-body a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.card-title {
    text-align: center;

}
